### Importing the Dataset

In [3]:
import pandas as pd
import json


fp = open("../data/total_posts.json")
posts_data = json.load(fp)
posts = pd.DataFrame.from_dict(posts_data)

### Exploring the Dataset

In [4]:
posts

                                                   text  label
0     Today I fucked up at work. I’m not sure if I w...      1
1     The amount of child hate and parent shaming on...      1
2      I don’t know how to convince myself that even...      1
3     Do we know if any of the old SPSF Kodachrome p...      0
4     I told the sunset about you\n\nI told the suns...      1
...                                                 ...    ...
1836  I’m never sure how to answer the question abou...      1
1837  Just people who have people. They can choose f...      1
1838  If you could only drink non alcoholic beer, wo...      1
1839  Hello, I’ve been struggling on and off with br...      1
1840  I've just graduated from university and I'm lo...      1

[1841 rows x 2 columns]

In [5]:
posts.describe()

             label
count  1841.000000
mean      0.735470
std       0.441203
min       0.000000
25%       0.000000
50%       1.000000
75%       1.000000
max       1.000000

### Splitting the Dataset

In [6]:
from sklearn.model_selection import train_test_split


strat_train_set, strat_test_set = train_test_split(posts, test_size=0.2, random_state=42)

In [9]:
posts = strat_train_set.copy()
posts.head()

                                                   text  label
588   Got Covid for the 2nd time in early October. T...      1
949   2/3/2023\n\nTokophobia\n\nI stare at those lin...      0
1631  I am not implying that I got 100% okay from ju...      1
1719  Omgggggggggggggggg. New song new song new song...      1
1338  My family doesn’t do shit I’m the only boy &am...      1

In [10]:
n_words = [len(post.split()) for post in posts]